body {
    background-color: #ffffff;
    color: #000000;
}

:root {
    --blue: #1573E5;
}


h1{
    -webkit-text-stroke: 0.8px black;
}

.card  {
    border: 1px solid #1573E5;
}

.modal-footer{
    padding: 10px;
}

a:card{
    align-self: auto;
}

.imgEmp{
    width: 10rem;
    height: 8rem;
}

.navbar navbar-expand-lg navbar-light bg-light{
    border: #1573E5;
    height: 10px;
}

.navbar-brand{
    min-height: 5px;
    min-width: 10px;
    max-height: 180px;
    max-width: 250px;
    padding: 5px 0px 5px 10px;
}

.grid gap-0 column-gap-0{
    padding-left: 20px;
}


.collapse navbar-collapse{
    padding-left: 100px;
}

.continer-fluid{
    align-self: auto;
    font-size: 50px;
}

.title-info {
    width: 60%;
    padding: 0.6rem 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.img-box{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-left: 20%;
}

.btn-primary{
    position:right ;
    width: 100px;
    margin-right: 10px;
}

.card {
    margin: 0 auto; 
    float: none; 
}

body {
    background-color: #ffffff;
    color: #000000;
}

:root {
    --blue: #1573E5;
}

h1{
    -webkit-text-stroke: 0.8px black;
}

hr{
    border-color:#aaa;
    box-sizing:border-box;
    width:100%;  
  }

#mais-svg{
    max-width: 50px;
    max-height: 50px;
    padding: 10px;
    vertical-align: left;
}

.center
    {
        display:         flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
    }

.btn-outline-success {
    --bs-btn-color: #1573E5;
    --bs-btn-border-color: #1573E5;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1573E5;
    --bs-btn-hover-border-color: #1573E5;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1573E5;
    --bs-btn-active-border-color: #1573E5;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #1573E5;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: #1573E5;
    --bs-gradient: none;
}

.btn {
    color: #d2d7df;
    background-color: #1573E5;
}

.navbar-light{
    color: #007bff;
}

.card {
    border: 1px solid #1573E5;
}

.navbar navbar-expand-lg navbar-light bg-light{
    border: #1573E5;
}

.d-flex{
    margin-bottom: 50px;
    margin-top: 10px;
}

.lead{
    margin-top: 20px;
}

.navbar-brand{
    min-height: 5px;
    min-width: 10px;
    max-height: 180px;
    max-width: 250px;
    padding-left: 10px;
}

.cx_Top-Right{
    text-align: right;
    margin-right: 35px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}

.text-primary{
    margin-bottom: 50px;
    text-align: center;
    color: #1573E5;

}

.img-box{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-left: 20%;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

#customerForm{
    padding: 20px 10px 5px 2px;
}

.formfill{
    width: 230px;
    height: 40px;
}


#bodyCad{
    background-image: url(assets/CadWpp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#bodyCC{
    background-image: url(assets/LogWpp2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.profile {
    display: flex;
    align-items: center;
    margin: 20px 0;
    background-image: url(../assets/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bio {
    flex: 1;
}

.bio h2 {
    margin: 0 0 10px;
}

.profile-photo {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    padding: 0.5%;
}

.certif{
    width: 60%;
    height: 40%;
    margin-left: 4.9rem;
}

.imgEmp{
    width: 10rem;
    height: 8rem;
}