
.historic-input-group{
    display: flex;
}

.historic-card {
    background-color: #cbe2f8;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    max-width: 42em;
    margin-bottom: 20px;
}

.historic-card-header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.historic-card-title {
    margin: 1em;
    font-size: 1.25em;
}

.historic-card-buttons {
    margin-left: 1em;
}

.historic-card-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.historic-card-user-data {
    display: flex;
}

.historic-card-user-name {
    padding: 1em;
    padding-bottom: 2.5em;
    padding-top: 0.25em;
    padding-left: 0.25em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.historic-card-date {
    padding: 1em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.historic-card-status {
    padding-left: 1em;
    padding-top: 0.25em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.col-1 {

    width: 33.33%;
    padding: 0.6rem 1.2rem;
    color: #FFFFFF;
}

.col-2 {

    width: 33.33%;
    padding: 0.6rem 1.2rem;
    color: #FFFFFF;
}

.col-3 {

    width: 33.33%;
    padding: 0.6rem 1.2rem;
    color: #FFFFFF;
}

.col-profile {
    width: 10%;
    padding: 0.6rem 0.35rem;
}
.col-name {
    width: 50%;
    padding: 0.6rem 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.col-name-2 {
    width: 50%;
    padding: 0.6rem 1.2rem;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.col-info {
    width: 40%;
    padding: 0.6rem 1.2rem;
}

.col-confirm {
    width: 50%;
    padding: 0.6rem 1.2rem;
}

.col-cancel {
    width: 50%;
    padding: 0.6rem 1.2rem;
}

.flex-container {
    background-color: #6396e4;
    display: flex;
    justify-content: flex-start;
}

.flex-container-top {
    display: flex;
    justify-content: flex-start;
}

.flex-container-agenda {
    display: flex;
    justify-content: flex-start;
}

.text-paragraph {
    text-indent: 1em;
}

.text-paragraph-2 {
    text-indent: 1.9em;
}

.meeting-title {
    width: 35%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.meeting-time{
    width: 15%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.meeting-button {
    width: 20%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.meeting-link {
    display: flex;
    justify-content: flex-start;
}

.link-text {
    width: 15%;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.link-box {
    width: 25%; 
}

.col-return {
    width: 33.33%;
    padding: 0.6rem 1.2rem;
    color: #FFFFFF;
}

.col-today {

    width: 33.33%;
    padding: 0.6rem 1.2rem;
    color: #FFFFFF;
}

.flex-container-id-2 {
    display: flex;
    justify-content: center;
}

.flex-container-id-3 {
    display: flex;
    justify-content: flex-start;
}

.flex-container-id {
    display: flex;
    justify-content: flex-start;
}

.container {
    background-color: #FFFFFF;
    margin: auto;

    width: 100%;

    border-radius: 5px;
    overflow: hidden;
}

.flex-container-infodata {
    display: flex;
    justify-content: flex-start;
}

.col-text {
    padding: 0.6rem 1.2rem;
}

.col-element {
    padding: 0.6rem 1.2rem;
}

.imput-text {
    padding: 0.6rem 1.2rem;
}

.info-title {
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container-title {
    display: flex;
    justify-content: center;
}

.flex-container-info {
    display: flex;
    justify-content: space-around;
}

.col-return-info {
    width: 15%;
    padding: 0.6rem 1.2rem;
    color: #FFFFFF;
}

.title-info {
    width: 60%;
    padding: 0.6rem 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.info-flex-container {
    display: flex;
    justify-content: flex-start;
}

.info-identification {
    width: 55%;
    font-size: 2rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.info-see {
    width: 25%;
    font-size: 2rem;
}

.info-date {
    width: 15%;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.meeting-info-title {
    width: 35%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.header-title {
    color: #006666;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom:  1.2rem;
}


/* TESTE style.css*/

body {
    background-color: #ffffff;
    color: #000000;
}

:root {
    --blue: #1573E5;
}

h1{
    -webkit-text-stroke: 0.8px black;
}

.btn-outline-success {
    --bs-btn-color: #1573E5;
    --bs-btn-border-color: #1573E5;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1573E5;
    --bs-btn-hover-border-color: #1573E5;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1573E5;
    --bs-btn-active-border-color: #1573E5;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #1573E5;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: #1573E5;
    --bs-gradient: none;
}

.btn {
    color: #d2d7df;
    background-color: #1573E5;
}

.navbar-light{
    color: #007bff;
}


.navbar navbar-expand-lg navbar-light bg-light{
    border: #1573E5;
}

.d-flex{
    margin-bottom: 50px;
    margin-top: 10px;
}

.lead{
    margin-top: 20px;
}

.navbar-brand{
    min-height: 5px;
    min-width: 10px;
    max-height: 180px;
    max-width: 250px;
    padding-left: 10px;
}

.text-primary{
    margin-bottom: 50px;
    text-align: center;
    color: #1573E5;

}

.img-box{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-left: 20%;
}

#customerForm{
    padding: 20px 10px 5px 2px;
}


.profile-nav {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-nav ml {
    padding-left: 3%;
    margin-right: 10px;
}

.flex-container{
    padding-top: 5%;
    padding-bottom: 5%;
}

.cx_Top-Right{
    text-align: right;
    margin-right: 35px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}


/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats */
  .row:after {
    content: "";
    display: table;
     clear: both;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }

  @media screen (max-width: 576px) {
    .historic-card-header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .historic-card-header-container button {
        margin-top: 0.5em;
    }

    .historic-card-content {
        flex-direction: column;
        align-items: flex-start;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }